/*Margin, padding and box-sizing resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Media queries*/
@media screen and (max-width: 600px) {}

/*Background color*/
html {
    background-color: #252525;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*Page fade-ins*/
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

nav {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 120px;
    background: white;
    padding-right: 100px;
    border-bottom: 7px brown solid;
    z-index: 9999;
}

.nav-link {
    z-index: 9999;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    color: brown;
}

header {
    position: relative;
    z-index: 99;
}

#img {
    display: flex;
    justify-content: flex-end;
}

#header-img {
    width: 140px;
    height: 114px;
    position: fixed;
    top: 0px;
    margin: 0px 0;
    z-index: 99999;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#banner {
    margin-top: 120px;
}

#email {
    width: 200px;
    height: 13px;
    margin-left: 40vw;
}

li {
    cursor: pointer;
}

input {
    margin-top: 70px;
}

iframe {
    z-index: 1;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.article {
    width: 500px;
    text-align: center;
    margin: 20px 29vw;
    color: white;
}

.row {
    display: flex;
    margin-left: 120px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.pricing {
    background: white;
    width: 173px;
    height: 30px;
}

.price-text {
    margin-left: 70px;
}

.nft-header {
    margin-left: 50px;
    color: white;
}

#email-header {
    color: white;
    width: 400px;
    text-align: center;
    margin-left: 29vw;
}

#bruh {
    width: 450px;
    height: 150px;
    margin-left: 370px;
    position: absolute;
}

#end-of-page {
    background: white;
    border-top: 7px brown solid;
    width: 100vw;
    height: 300px;
    margin-top: 50px;
}

.sheep1 {
    position: absolute;
    margin-left: -70px;
    width: 50px;
    height: 50px;
}

.sheep2 {
    position: absolute;
    margin-left: 850px;
    width: 50px;
    height: 50px;
}